
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <meta charset="utf-8">
    @*<link rel="shortcut icon" type="image/x-icon" href="~/Content/title_logo64.png">*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #f0f2f5;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-12" style="text-align:center;margin-top:8%">
            <img src="~/Content/underConstruction.png" />
        </div>
    </div>
   

    <script>
        $(document).ready(function () {
            $("#mainClicked").css({ "background-color": "#f0f2f5", "color": "black", "font-weight": "600" })
            $("#mainButton").css({ "color": "black", "font-weight": "600" })
            $("#DashboardClicked").css({ "color": "black", "font-weight": "700" })
        });
    </script>
</body>


</html>

