@model SeHubPortal.ViewModel.LoginViewModel

    <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <title></title>
        </head>
        <body>

            <div class="row" style="margin-top:50px">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    @using (Html.BeginForm("SetUpPassword", "Login", FormMethod.Post))
                    {
                        <div class="card">
                            <div class="card-header" style="padding:10px 5px 5px 15px">
                                <h5>Set up password</h5>
                            </div>
                            <div class="card-body">

                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-6 text-right">
                                        Email
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.newHarpoonUser.email, new { htmlAttributes = new { @Placeholder = "Email", @class = "form-control", @required = "required", @type = "text", @readonly = true } })
                                    </div>
                                </div>

                                @Html.HiddenFor(m => m.newHarpoonUser.clientID)

                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-6 text-right">
                                        Password <span style="font-size:10px;">(minimum of 6 characters)</span>
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.newHarpoonUser.password, new { htmlAttributes = new { @autocomplete="off", @id = "newPassword", @class = "form-control", @required = "required", @type = "text", oninput="checkRequirements()" } })
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom:10px">
                                    <div class="col-lg-6 text-right">
                                        Confirm Password <span style="font-size:10px;">(minimum of 6 characters)</span>
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.newHarpoonUser.confirmPassword, new { htmlAttributes = new { @autocomplete="off", @id = "confirmPassword", @class = "form-control", @required = "required", @type = "text", oninput="checkRequirements()" } })
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer" style="padding:10px">
                                <button id="editProfileSubmit" style="padding:2px 20px 2px 20px; visibility:hidden; float:right" class="btn btn-success">Submit</button>
                            </div>
                        </div>

                    }
                </div>
                <div class="col-lg-4"></div>
            </div>

            <script>
                function checkRequirements() {

                    $('#newPassword').get(0).type = 'password';
                    $('#confirmPassword').get(0).type = 'password';

                    if (($('#newPassword').val() == $('#confirmPassword').val()) && $('#newPassword').val().length > 5) {
                        $('#editProfileSubmit').css("visibility", "visible");
                    }
                    else {
                        $('#editProfileSubmit').css("visibility", "hidden");
                    }
                }
            </script>

            <script>
                $('.navbar').css("display", "none")
            </script>

        </body>
    </html>