
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Download</title>
</head>
<body>
    <div class="row"> 
        <div class="col-lg-12">
            <a href="/Login/DownloadFile">Click here to download</a>
        </div>
    </div>
</body>
</html>
