
@model SeHubPortal.ViewModel.ForgetPasswordViewModel
<style type="text/css">
 
</style>


@using (Html.BeginForm("ForgetPasssword", "Login", FormMethod.Post))
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Password Request</h5>
        </div>
        <div class="modal-body">
            @*<div class="row">
            <div class="form-group col-md-12">
                <label >Full Name</label>
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "text" } })
            </div>
        </div>*@
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Email Address</label>
                    @Html.EditorFor(m => m.EmailAddress, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "text", @style = "height:50px" } })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="text" readonly class="btn btn-danger" data-dismiss="modal" value="Cancel" style="width:100px; height:30px" />

            <input type="submit" class="btn btn-success" value="Request" style="padding:3px 20px 3px 20px"/>
        </div>
    </div>

}