
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TreadTrackerLayout.cshtml";
}

<h2>Index</h2>

<script>
    $(document).ready(function () {
        $("#treadTrackerButton").css({ "background-color": "#fff", "color": "black" })
    });
</script>