<div class="row subTables">
    <div class="col-5 ">
        Account Number
    </div>
    <div class="col-7 ">
        @*@Model.CustomerInfo.cust_us1*@
        @*@Html.DisplayFor(m => m.CustomerInfo.cust_us1)*@
        @ViewData["CustomerNum"]
    </div>
</div>
<div class="row subTables">
    <div class="col-5">
        Customer Address
    </div>
    <div class="col-7">
        @*@Model.CustomerInfo.cust_add1, @Model.CustomerInfo.cust_state, @Model.CustomerInfo.cust_zip*@
        @*@Html.DisplayFor(m => m.CustomerInfo.cust_add1)*@
        @ViewData["Address"]
    </div>
</div>

