body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: White;
    background-color:transparent;
}

.login_btn {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
}

p {
    color: black;
   
    text-align: center
}

img {
    height: 120px;
}

form {
    width: 800px;
    padding: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    text-align: center;
}



.line {
    color: white;
    height: 0.1px;
    background-color: white;
    margin: 0px 40px 0px 50px
}

.forget {
    color: #428bca;
    margin: 0px 20px 50px 140px;
}

.signup {
    color: #428bca;
    margin: 20px 20px 80px 0px;
}

form h1 {
    color: gray;
    text-transform: uppercase;
    font-weight: 500;
}

form input[type = "text"], form input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: left;
    border: 2px solid lightgray;
    padding: 14px 10px;
    width: 500px;
    outline: none;
    color: black;
    border-radius: 5px;
    transition: 0.25s;
}

    form input[type = "text"]:focus, form input[type = "password"]:focus {
        width: 500px;
        border-color: gray;
    }

form input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px 20px 50px 130px;
    text-align: center;
    border: 2px solid gray;
    padding: 7px 60px;
    outline: none;
    color: White;
    background-color: gray;
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer;
    height:40px;
}

    form input[type = "submit"]:hover {
        background: White;
        color: Black;
    }
