
@{
    ViewBag.Title = "Locations";
    Layout = "~/Views/Shared/_Settings_Harpoon.cshtml";
}
@model SeHubPortal.ViewModel.MyStaffViewModel

    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>*@


        <style>

            .example::-webkit-scrollbar {
                display: none;
            }

            .example {
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }

            #LocationsClicked {
                background-color: #f0f2f5;
                color: black;
                font-weight: 600;
            }

            #SettingsClicked {
                background-color: #f0f2f5;
                color: black;
                font-weight: 600;
            }

            .settingsBtn {
                font-weight: bold;
            }

            #LocationsLink {
                color: black;
                font-weight: 700;
                background-color: #f0f2f5;
            }

            body {
                background-color: #f0f2f5;
                padding-right: 0 !important;
            }

            .heading {
                margin: 10px 0px 0px 0px;
            }

                .heading h2 {
                    margin-top: 8px;
                }

            .card-header {
                background-color: #cde8ca;
            }

                .card-header h6 {
                    color: black;
                }

            .imageClass {
                width: 100%;
                height: 80%;
                border-radius: 50%;
            }

            .card {
                border: 1px solid #ededed;
                margin-bottom: 30px;
                border-radius: 10px;
            }

            .card {
                position: relative;
                display: -ms-flexbox;
                display: flex;
                height: auto;
                -ms-flex-direction: column;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: .25rem;
            }

            p {
                font-size: 14px;
            }

            #MatchedStaffLocID {
                height: 30px;
                width: 100px;
            }
        </style>
    </head>

    <body>
        <div class="row heading">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="background-color:white;height:100%;margin-top:0px;">
                        <li class="breadcrumb-item"><a href="@Url.Action("Employees", "SettingsHarpoon")">Settings</a></li>
                        <li class="breadcrumb-item " aria-current="page">Locations</li>
                        <input id="AddEmployeeBtn" readonly type="text" class="btn btn-success EmpTransBtns " data-toggle="modal" data-target="#AddEmployeeModal" value="Add" style="height:23px; width:100px; margin-left:520px" />

                    </ol>
                </nav>
            </div>
            <button type="button" id="clickThis" class="btn" style="margin-bottom:14px;">
                <i class="fa fa-bars" style="font-size:25px"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>

        <div class="row" style="margin:0px 10px 20px 15px">
            <div class="col-lg-6" style="padding:0px">
                <div class="card">
                    <div class="card-header" style="padding:8px 0px 0px 15px">
                        <div class="row">
                            <div class="col-lg-10">
                                <h5>[Location Name]-[Location ID]</h5>
                            </div>
                            <div class="col-lg-2" style="padding-right:20px">
                                <button style="background-color:transparent; border:none; outline:none; float:right"><i class="fa fa-edit" style="font-size:25px;color:black;float:right"></i></button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-7">
                                Address1
                            </div>
                            <div class="col-lg-5">
                                Phone
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-lg-7">
                                <input style="width:100%" type="text" name="name" value="" />
                            </div>
                            <div class="col-lg-5">
                                <input style="width:100%" type="text" name="name" value="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                Address2
                            </div>
                            <div class="col-lg-5">
                                Fax
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-lg-7">
                                <input style="width:100%" type="text" name="name" value="" />
                            </div>
                            <div class="col-lg-5">
                                <input style="width:100%" type="text" name="name" value="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                City/Town
                            </div>
                            <div class="col-lg-5">
                                Email
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-lg-7">
                                <input style="width:100%" type="text" name="name" value="" />
                            </div>
                            <div class="col-lg-5">
                                <input style="width:100%" type="text" name="name" value="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-4">
                                        Province
                                    </div>
                                    <div class="col-lg-4">
                                        Postal code
                                    </div>
                                    <div class="col-lg-4">
                                        Country
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                Google Maps
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input style="width:100%" type="text" name="name" value="" />
                                    </div>
                                    <div class="col-lg-4">
                                        <input style="width:100%" type="text" name="name" value="" />
                                    </div>
                                    <div class="col-lg-4">
                                        <input style="width:100%" type="text" name="name" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <input style="width:100%" type="text" name="name" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6"></div>
        </div>
        
        <script>

        </script>
    </body>

    </html>

