
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LibraryLayout.cshtml";
}
<style>
    body {
        background-color: #f0f2f5;
    }
</style>
<h2>Index</h2>
<script>
    $(document).ready(function () {
        $("#libraryBtn").css({ "background-color": "#f0f2f5", "color": "black", "font-weight": "600" })

    });
</script>