@model SeHubPortal.ViewModel.PlantViewModel
@{
    ViewBag.Title = "Plant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

    @if (Model.SehubAccess.tools > 0)
    {
        <style>
            #toolsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.management > 0)
    {
        <style>
            #ManagementClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.settings > 0)
    {
        <style>
            #SettingsClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.payroll > 0)
    {
        <style>
            #PayrollClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.main > 0)
    {
        <style>
            #mainClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.fleetTVT > 0)
    {
        <style>
            #FleetTVTClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.treadTracker > 0)
    {
        <style>
            #treadTrackereClicked {
                display: block !important;
            }
        </style>
    }

    @if (Model.SehubAccess.library_access > 0)
    {
        <style>
            #libraryClicked {
                display: block !important;
            }
        </style>
    }

    <style>

        #DashboardLink {
            display: block !important;
        }

        #PlantClicked {
            display: block !important;
        }


        #PlantBtn {
            font-weight: bold;
        }

        #PlantClicked {
            background-color: #f0f2f5;
            color: black;
            font-weight: 600;
        }

        #DashboardLink {
            color: black;
            font-weight: 700;
            background-color: #f0f2f5;
        }

        body {
            background-color: #f0f2f5;
            padding: 0px !important;
            margin: 0px !important;
        }

        .card-header {
            background-color: #cde8ca;
        }

            .card-header h6 {
                color: black;
            }
    </style>
</head>
<body style="overflow-y: hidden; overflow-x: hidden">

    <div class="row">
        <div class="col-md-12">
            <div class="row" style="padding:10px 30px 10px 30px">
                <div class="col-md-4" style="padding:10px 10px 10px 20px; background-color:white; vertical-align:middle">
                    <a href="@Url.Action("Plant", "Retread")">Retread Plant</a>
                </div>
                <div class="col-md-4" style="background-color:white; vertical-align:middle">
                </div>
                <div class="col-md-4" style="background-color:white; vertical-align:middle">
                </div>
            </div>


            @using (Html.BeginForm("Station", "Retread", FormMethod.Post, new { htmlAttributes = new { @autocomplete = "off" } }))
            {

                <div class="row" id="mouseClick" style="height:340px; padding:10px 30px 10px 30px;">
                    <div class="col-md-12 text-center" style="padding-top:3%">

                        <JavaBlink><p style="margin-top:20px; font-weight: bold;font-size: 45px;color: dimgray">SCAN WORKSTATION BARCODE TO LOGIN</p></JavaBlink>

                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <img src="~/Content/ScanBarcode.png" style="width:300px" alt="Alternate Text" />
                            </div>
                        </div>


                        @Html.EditorFor(m => m.stationBarcode, new { htmlAttributes = new { @autocomplete = "off", @style = "background-color:#f0f2f5; color:#f0f2f5; border:none; outline:none", @id = "textBox" } })

                        @*
        <img src="~/Content/wheelspin.gif" alt="Alternate Text" />
                        *@
                    </div>
                </div>

            }

            <div class="row" style="margin:180px 0px 10px 0px">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="row" style="padding: 5px 20px 10px 20px; border-radius:10px; border:3px solid #b4b6b8">
                        <div class="col-lg-12" style="padding:0px">
                            <div class="row">
                                <div class="col-lg-2" style="padding-left:20px">
                                    <b>NDT</b>
                                </div>
                                <div class="col-lg-2" style="padding-left:20px">
                                    <b>Buffer</b>
                                </div>
                                <div class="col-lg-2" style="padding-left:20px">
                                    <b>Repair</b>
                                </div>
                                <div class="col-lg-2" style="padding-left:35px">
                                    <b>Builder</b>
                                </div>
                                <div class="col-lg-3" style="padding-left:50px">
                                    <b>Chamber</b>
                                </div>
                                <div class="col-lg-1">
                                    <b>Final</b>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-2 text-center" style="padding-right:30px">
                                    <img style="float:left; width:40px; margin-top:10px" src="~/Content/NDT.png" />
                                    <img style="opacity:0.4; float:right; width:40px; margin-top:10px" src="~/Content/RightArrow.png" />
                                </div>
                                <div class="col-lg-2 text-center">
                                    <img style="width:40px; margin-top:5px; margin-right:30px" src="~/Content/Buffer.png" />
                                    <img style="opacity:0.4; float:right; width:40px; margin-top:10px" src="~/Content/RightArrow.png" />
                                </div>
                                <div class="col-lg-2 text-center">
                                    <img style="width:55px; margin-right:30px" src="~/Content/Extensions.png" />
                                    <img style="opacity:0.4; float:right; width:40px; margin-top:10px" src="~/Content/RightArrow.png" />
                                </div>
                                <div class="col-lg-2 text-center" style="padding-left:0px">
                                    <img style="width:70px; margin-top:10px;" src="~/Content/Builder.png" />
                                    <img style="opacity:0.4; float:right; width:40px; margin-top:10px" src="~/Content/RightArrow.png" />
                                </div>
                                <div class="col-lg-3 text-center">
                                    <img style="width:110px; height:45px; margin-top:10px; margin-right:30px" src="~/Content/CuringChamber.png" />
                                    <img style="opacity:0.4; float:right; width:40px; margin-top:10px" src="~/Content/RightArrow.png" />
                                </div>
                                <div class="col-lg-1 text-center">
                                    <img style="float:right; width:60px; margin-top:5px" src="~/Content/Final.png" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>

        </div>
    </div>

    <div id="incorrect" class="modal fade" data-backdrop="static" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="width:400px">
                <div class="modal-header" style="padding:10px">
                    <h5 class="modal-title" style="color:black"><strong>Acknowledgment</strong></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-8" style="color:black; padding-top:20px">
                            <h3>Incorrect station Barcode</h3>
                        </div>
                        <div class="col-lg-4 text-right" style="padding-top:13px"><img id="EventImage" src="~/Content/FileNotSupported.png" style="width:100px; height:100px" /></div>
                    </div>

                </div>
                <div class="modal-footer" style="padding:8px">
                    <input id="close" type="text" readonly class="btn btn-danger" data-dismiss="modal" name="name" value="Close" style="height:25px; width:100px" />
                </div>
            </div>
        </div>
    </div>

    <SCRIPT type="text/javascript">
        function JavaBlink() {
            var blinks = document.getElementsByTagName('JavaBlink');
            for (var i = blinks.length - 1; i >= 0; i--) {
                var s = blinks[i];
                s.style.visibility = (s.style.visibility === 'visible') ? 'hidden' : 'visible';
            }
            window.setTimeout(JavaBlink, 1500);
        }
        if (document.addEventListener) document.addEventListener("DOMContentLoaded", JavaBlink, false);
        else if (window.addEventListener) window.addEventListener("load", JavaBlink, false);
        else if (window.attachEvent) window.attachEvent("onload", JavaBlink);
        else window.onload = JavaBlink;
    </SCRIPT>

    <script>
        $(document).ready(function () {

            $('#textBox').focus();

            function getUrlVars() {
                var vars = [], hash;
                var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < hashes.length; i++) {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                }
                return vars;
            }

            var acknowledgment = getUrlVars()["ac"];

            if (acknowledgment == "IncorrectBarcode") {
                $('#incorrect').modal();
            }

        });

        $('#close').click(function () {
            $('#textBox').focus();
        })

        $('#mouseClick').click(function () {
            $('#textBox').focus();
        })

    </script>

</body>
</html>

